@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --backgroundHeader: #d7d7d7;
  --foreground: #171717;
  --taskInput: #41424c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-backgroundHeader: var(--backgroundHeader);
  --color-taskInput: var(--taskInput);
  --font-inter: var(--font-inter);
}

.dark {
  --background: #0a0a0a;
  --backgroundHeader: #1a1a1a;
  --foreground: #ededed;
  --taskInput: #fffff0;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
